= semantic_form_for(@product_type) do |form|
 = form.inputs :name => "Attribut" do
  = form.input :name
  = form.input :description
  = form.input :mage_account_number, as: :select, collection: Mage::Account.all.map{|a| ["#{a.number}-#{a.name}", a.number]}
 = form.buttons do
  = form.commit_button :commit
