%h2= t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= t 'activerecord.attributes.product_type.name'
      %th= t 'activerecord.attributes.product_type.description'
      - if can?(:manage, ProductType)
        %th.actions
  %tbody
    - for product_type in @product_types
      %tr
        %td= link_to product_type, product_type
        %td= product_type.description
        - if can?(:manage, ProductType)
          %td
            = link_to edit_product_type_path(product_type), class: 'btn' do
              %i.icon-pencil
              = t('edit')
            = link_to product_type, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-danger' do
              %i.icon-trash
              = t('destroy')
