%h1= t('.title')
%p= link_to t('.new_product_type'), new_product_type_path

%table
  %thead
    %tr
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for product_type in @product_types
      %tr{ :class => cycle(:odd, :even) }
        %td.action= link_to t('show'), product_type
        %td.action= link_to t('edit'), edit_product_type_path(product_type)
        %td.action= link_to t('destroy'), product_type, :confirm => t('are_you_sure'), :method => :delete
