%fieldset
  %legend Skulder (till sektionen)
  %table.datatable
    %thead
      %tr
        %th ID
        %th Beskrivning
        %th Summa (SEK)
        %th Status
        %th
    %tbody
      - person.debts.each do |debt|
        %tr
          %td= debt.id
          %td= debt.description
          %td.money= currency debt.amount
          %td= t "state.#{debt.workflow_state}"
          %td
            / # TODO: add these when we have the routes
            / # = link_to "Redigera", edit_debt_path(debt)
            / # = button_to "Ta bort", debt, :method => :delete, :confirm => t('are_you_sure')
    %tfoot
      %tr
        %td.bold{:colspan => 2} Total
        %td.money= currency person.total_debt_amount
        %td