= semantic_form_for(@person) do |form|
 = form.inputs :name => "Attribut" do
  = form.input :email
  = form.input :role, :as => :select, :collection => Person::ROLES if current_user.is?(:admin)
 = form.inputs :name => "Bankuppgifter" do
  = form.input :bank_clearing_number, :input_html => {:class => "getBank"}
  = form.input :bank_account_number
  = form.input :bank_name
 = form.buttons do
  = form.commit_button :commit

= javascript_include_tag "bank"
:javascript
  $(document).ready(function(){
    var clr = $("#person_bank_clearing_number").val();
    Bank.updateBankName("person_bank_name", clr);
  });
  $('#person_bank_clearing_number').blur(function(){
    var clr = $("#person_bank_clearing_number").val();
    Bank.updateBankName("person_bank_name", clr);
  });
