- semantic_form_for(@person) do |form|
 - form.inputs :name => "Attribut" do
  = form.input :email
  = form.input :role, :as => :select, :collection => Person::ROLES
 - form.inputs :name => "Bankuppgifter" do
  = form.input :bank_clearing_number
  = form.input :bank_account_number
  = form.label :bank_name
 - form.buttons do
  = form.commit_button :commit
