%fieldset
  %legend Användaruppgifter
  %dl
    %dt Namn
    %dd= person.name
  
    %dt Användarnamn
    %dd= person.login
  
    %dt E-post
    %dd= link_to person.email, "mailto:#{person.email}"
  
    %dt Clearingnummer
    %dd= person.bank_clearing_number
  
    %dt Kontonummer
    %dd= person.bank_account_number
  
    %dt Banknamn
    %dd= person.bank_name
