%fieldset
  %legend Inköp
  %table.datatable
    %thead
      %tr
        %th Beskrivning
        %th Summa (SEK)
        %th Inköpt
        %th Status
        %th
    %tbody
      - person.purchases.each do |purchase|
        %tr
          %td= link_to purchase.description, purchase
          %td= currency purchase.total
          %td= short_time purchase.purchased_at
          %td= status purchase
          %td
            - if purchase.editable? && can?(:edit, purchase)
              = link_to "Redigera", edit_purchase_path(purchase)
    %tfoot
      %tr
        %th Total
        %td= currency person.total_purchased_amount
        %th{:colspan => 3}

