%h2= t('.title')

%table.table.table-striped
  %thead
    %tr
      %th Användarnam
      %th Namn
      %th Roll
      %th.actions

  %tbody
    - for person in @people
      %tr
        %td= link_to person.login,   person_path(person)
        %td= link_to person.name,   person_path(person)
        %td= person.role
        %td.actions
          = link_to t('edit'), edit_person_path(person)
