%h1= @person.name
= link_to "Nytt inköp", new_purchase_path, :id => "new_purchase"

= render(:partial => 'info', :locals => {:person => @person})

= render(:partial => 'debts', :locals => {:person => @person}) if @person.debts.any?
= render(:partial => 'purchases', :locals => {:person => @person}) if @person.purchases.any?
