%h1= t '.title'

- if can?(:manage, Debt)
  = render :partial => "modify_form", :locals => {:debt => @debt}
%dl
  %dt Person
  %dd= @debt.person

  %dt Summa
  %dd= number_to_currency @debt.amount

  %dt Affärsenhet
  %dd= @debt.business_unit

  %dt Skapad
  %dd= @debt.created_at

  %dt Senast ändrad
  %dd= @debt.updated_at

  %dt Status
  %dd= status @debt
