= semantic_form_for(@budget_post) do |form|
  = form.inputs name: 'Attribut' do
    = form.input :name
    = form.input :business_unit
    - unless @budget_post.business_unit.nil? # THIS SHOULD NEVER BE
      = form.input :mage_arrangement_number,
                   as: :select,
                   collection: Mage::Arrangement.all(@budget_post.business_unit.mage_number).map { |a| [a.name, a.number] }
    - else
      = form.input :mage_arrangement_number, as: :hidden
  = form.actions do
    = form.action :submit, as: :button
