%h1= t '.title'
= semantic_form_for(@budget_post) do |form|
  =form.inputs :name => "Attribut" do
    = form.input :name
    = form.input :business_unit
  = form.buttons do
    = form.commit_button :commit
