%div
  = form_tag '',:id=>:year_select_form,:method=>:get do
    = label_tag :year, t('show_budget_rows_for')
    = select_tag(:year, options_from_collection_for_select(BudgetPost.all_years, :to_i, :to_s, @year))

%h2= t('.title')

%table.table.table-striped
  %thead
    %tr
      %th= t 'activerecord.attributes.budget_post.name'
      %th= t 'activerecord.models.business_unit'
      - if can?(:manage, BudgetPost)
        %th.actions

  %tbody
    - for budget_post in @budget_posts
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to budget_post.name, budget_post
        %td= link_to budget_post.business_unit, budget_post.business_unit
        - if can?(:manage, BudgetPost)
          %td
            = link_to edit_budget_post_path(budget_post), class: 'btn' do
              %i.icon-pencil
              = t('edit')
            = link_to budget_post, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-danger' do
              %i.icon-trash
              = t('destroy')

.well
  = link_to new_budget_post_path, class: 'btn btn-info' do
    %i.icon-file
    Ny budgetpost

:javascript
  $("#save_budget").submit(function() {
    $("#set_budget").submit()
    return false
  })
