#{@administrator.name} har registrerat att din skuld till Konglig Datasektionen markerats som betald.

Skulden gäller:
Beskrivning:          #{@debt.description}
Affärsenhet/nämnd:    #{@debt.business_unit}
Registreringsdatum:   #{l @debt.created_at}
Summa:                #{number_to_currency @debt.amount}

:textile
  Detta mail är genererat från "Cashflow":#{root_url}. Du får det för att datasektionen lagt ut pengar åt dig.
