#{ @administrator.name } har strukit din skuld ##{ @debt.id } till datasektionen. 
Detta innebär att skulden inte är giltig, och att du inte behöver betala den.
Har du några frågor angående detta prata med #{ @administrator.first_name } på #{ @administrator.email }.

Ersättningsbegäran gällde:
Beskrivning:        #{ @debt.description }
Affärsenhet/nämd:   #{ @debt.business_unit}
Registreringsdatum: #{ short_time @debt.created_at }
Summa: #{currency @debt.total}

:textile
  Detta är ett mail från "Cashflow":#{root_url}. Du får det för att du har registrerat att du vill ha ersättning för utlägg.

