#{@administrator.name} har registrerat att du har en skuld till Konglig Datasektionen enligt nedan:

Skulden gäller:
Beskrivning:          #{@debt.description}
Affärsenhet/nämnd:    #{@debt.business_unit}
Registreringsdatum:   #{short_time @debt.created_at}
Summa:                #{currency @debt.total}

:textile
  Detta mail är genererat från "Cashflow":#{root_url}. Du får det för att datasektionen lagt ut pengar åt dig.

