#{@administrator.name} har nu registrerat ditt inköp ##{@purchase.id} som godkänt.

Ersättningen täcker:
Beskrivning:        #{ @purchase.description }
Kvittodatum:        #{ short_time @purchase.purchased_at }
Affärsenhet/nämd:   #{ @purchase.business_unit.name }
Registreringsdatum: #{ short_time @purchase.created_at }
Varor:
- @purchase.items.each do |item|
  = "%s\t%s\t%s" % [currency(item.amount), item.product_type, item.comment]

Summa: #{currency @purchase.total}

:textile
  Detta är ett mail från "Cashflow":#{root_url}. Du får det för att du har registrerat att du vill ha ersättning för utlägg.

