
= semantic_form_for(@purchase, html: { class: "form-horizontal" }) do |form|
  = form.semantic_errors
  = form.semantic_errors :base

  = form.inputs :name => "Beskrivning" do
    - if @purchase.new? && can?(:edit, :purchase_owner)
      = form.input :person, include_blank: false

    = form.input :purchased_at, as: :string
    = form.input :budget_post
    = form.input :description
  
  %fieldset#purchase_items
    %legend Inköpsdelar
    = form.semantic_fields_for :items do |item|
      = render 'item_fields', :f => item
    .links
      = link_to_add_association 'Lägg till inköpsdel', form, :items

  = form.buttons do
    = form.commit_button button_html: { class: "btn-primary" }

:javascript
  $(document).ready(function() {
    $("select").chosen();
    $("#purchase_purchased_at").datepicker({
      weekStart: 1,
      format: "yyyy-mm-dd"
    });
  });
