= semantic_form_for @purchase do |form|
  = form.semantic_errors
  = form.semantic_errors :base
  = form.inputs :name => "Beskrivning" do
    = form.input :purchased_at, :as => :date_picker
    %li
      = label :business_unit, t('activerecord.models.business_unit')
      = select_tag :business_unit, options_from_collection_for_select(BusinessUnit.all, 'id', 'name'), include_blank: true
    = form.input :budget_post, :collection => [], :include_blank=>false
    = form.input :description, :as => :text
  
  %fieldset#purchase_items
    %legend Inköpsdelar
    = form.semantic_fields_for :items do |item|
      = render 'item_fields', :f => item
    .links
      = link_to_add_association 'Lägg till inköpsdel', form, :items

  = form.buttons do
    = form.commit_button :commit

= javascript_include_tag 'purchases'
:javascript
  $(document).ready(function() {
    Purchase.setupBudgetPostSelect(#{budget_posts.to_json}, $("#business_unit"), $("#purchase_budget_post_id"));
  });

