= semantic_form_for @purchase do |form|
  = form.semantic_errors :base
  = form.inputs :name => "Beskrivning" do
    = form.input :purchased_at, :as => :string
    = form.input :business_unit, :collection => BusinessUnit.all
    = form.input :description, :as => :text
  
  = form.inputs :name => "Inköpsdelar", :for => :items, :class => "inputs purchase_items" do |item|
    = item.input :amount
    = item.input :comment
    = item.input :product_type, :collection => ProductType.all
    %li= link_to "Lägg till inköpsdel", "#", :id => "add_purchase_item"
  
  = form.buttons do
    = form.commit_button :commit
