= semantic_form_for @purchase do |form|
  = form.semantic_errors
  = form.semantic_errors :base
  = form.inputs :name => "Beskrivning" do
    = form.input :purchased_at, :as => :datepicker
    %li
      = label :business_unit, t('business_unit')
      = select_tag :business_unit, options_from_collection_for_select(BusinessUnit.all, 'id', 'name')
    = form.input :budget_post, :collection => budget_posts_for_purchase(@purchase), :include_blank=>false
    = form.input :description, :as => :text
  
  = form.inputs :name => "Inköpsdelar" do
    = form.semantic_fields_for :items do |item|
      = render 'item_fields', :f => item
    = link_to_add_association 'Lägg till inköpsdel', form, :items

  = form.buttons do
    = form.commit_button :commit

- ActiveRecord::Base.include_root_in_json = false

:javascript
  budget_posts = #{ bp = Hash.new; BusinessUnit.all.each { |bu| bp[bu.id] = bu.budget_posts } ; bp.to_json  }
  $("#business_unit").change(function(){
    var new_html = ""
    $.each(budget_posts[$("#business_unit").val()],function(index, bp) {
      new_html += "<option value='"+bp.id+"'>"+bp.name+"</option>"
    })
    $("#purchase_budget_post_id").html(new_html)
  })
