%section.row-fluid
  .span3
    %dl
      %dt Inköpt av
      %dd= link_to purchase.person, purchase.person, title: purchase.person.login
      %dt Inköpt
      %dd= l purchase.purchased_on
      %dt Beskrivning
      %dd= purchase.description
  .span3#budget
    %dl
      %dt Kostnadsställe
      %dd= link_to purchase.business_unit, purchase.business_unit
      %dt Budgetpost
      %dd= link_to purchase.budget_post, purchase.budget_post
      -if can? :manage, BudgetPost
        %dt Budgetstatus
        %dd
          = number_to_currency purchase.budget_row.total
          av
          = number_to_currency purchase.budget_row.sum
  .span8#receipt
    Häfta fast ditt kvitto här!
  %nav.span6.btn-toolbar
    %span.pull-right
      = render :partial => "modify_form", :locals => {:purchase => @purchase}
