%dl
  %dt Inköpt av
  %dd= link_to purchase.person, purchase.person
  %dt Inköpt
  %dd= short_time purchase.purchased_at
  %dt Beskrivning
  %dd= purchase.description
  %dt Total summa
  %dd= currency purchase.total
  %dt Status
  %dd= status purchase
  %dt Budgetpost
  %dd= purchase.budget_post.name
  -if can? :manage, BudgetPost
    %dt Budgetstatus
    %dd #{currency purchase.budget_row.total} av #{currency purchase.budget_row.sum}
  %dt Senast uppdaterad
  %dd= short_time purchase.updated_at 
  %dt Uppdaterad av
  %dd= link_to purchase.last_updated_by

