%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Beskrivning
      %th Summa (SEK)
      %th Inköpt
      %th Status
  %tbody
    - purchases.each do |purchase|
      %tr
        %td= link_to purchase.slug, purchase
        %td= link_to purchase.description, purchase
        %td= number_to_currency purchase.total
        %td= l purchase.purchased_on
        %td= status purchase
