%h1 Bekräftade inköp

= form_tag pay_and_keep_multiple_purchases_path, :method => :put do
  %table.datatable.table.table-striped
    %thead
      %tr
        %th Person
        %th Nämnd
        %th Kontouppgifter
        %th Summa
        %th

    %tbody
      - @payables.each do |person, business_unit, ids, sum|
        %tr{ :class => cycle(:odd, :even) }
          %td= link_to person, person
          %td= link_to business_unit, business_unit
          %td= "%s, %s, %s" % [person.bank_name, person.bank_clearing_number, person.bank_account_number]
          %td= currency sum
          %td
            = check_box_tag "pay_and_keep[#{ids.join('-')}]"
            = label_tag "pay_and_keep[#{ids.join('-')}]", "Betala & Bokför"

  = submit_tag "Betala!", class: 'btn btn-primary'
