%h1 Bekräftade inköp

= form_tag pay_multiple_purchases_path, :method => :put do
  %table.datatable.table.table-striped
    %thead
      %tr
        %th Person
        %th Kontouppgifter
        %th Summa
        %th

    %tbody
      - @purchases.each do |person, sum|
        %tr{ id: "person-#{person.id}", class: cycle(:odd, :even) }
          %td= link_to person, person
          %td= "%s, %s, %s" % [person.bank_name, person.bank_clearing_number, person.bank_account_number]
          %td= number_to_currency sum
          %td
            = check_box_tag "pay[#{person.id}]"
            = label_tag "pay[#{person.id}]", "Betala"

  = submit_tag "Betala!", class: 'btn btn-primary'
