%h1 Inköp

%table.datatable
  %thead
    %tr
      %th ID
      %th Beskrivning
      %th Summa
      %th Inköpt
      %th Köpt av
      %th Affärsenhet
      %th Registrerad
      %th Status
      
      %th
  
  %tbody
    - for purchase in @purchases
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to ("%03d" % purchase.id), purchase
        %td= purchase.description
        %td= purchase.total
        %td= short_time purchase.purchased_at
        %td= purchase.person
        %td= purchase.business_unit
        %td= short_time purchase.created_at
        %td= status purchase
        %td
          = link_to t('edit'), edit_purchase_path(purchase)
