%section.container-fluid
  .row-fluid
    .span12
      %h1 Inköp

      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Beskrivning
            %th Köpt av
            %th Inköpt
            %th Status

        %tbody
          - for purchase in @purchases
            %tr
              %td= link_to ("%03d" % purchase.id), purchase
              %td= truncate purchase.description
              %td= link_to purchase.person, purchase.person, title: purchase.person.login
              %td= purchase.purchased_at.to_s(:iso)
              %td= status purchase
