%h1= t('.title')
%p= link_to t('.new_purchase'), new_purchase_path

%table.datatable
  %thead
    %tr
      %th ID
      %th Beskrivning
      %th Summa
      %th Inköpt
      %th Köpt av
      %th Affärsenhet
      %th Registrerad
      %th Status
      
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for purchase in @purchases
      %tr{ :class => cycle(:odd, :even) }
        %td= purchase.id
        %td= purchase.description
        %td= purchase.total
        %td=l purchase.purchased_at
        %td= purchase.person
        %td= purchase.business_unit
        %td=l purchase.created_at
        %td= purchase.status
        %td.action= link_to t('show'), purchase
        %td.action= link_to t('edit'), edit_purchase_path(purchase)
        %td.action= link_to t('destroy'), purchase, :confirm => t('are_you_sure'), :method => :delete
