%section.container-fluid
  .row-fluid
    .span12
      %h1 Inköp

      .btn-group
        = link_to "All", purchases_path(:workflow_state => nil), :class => "btn"
        - %w[new confirmed edited cancelled paid bookkept finalized].each do |state|
          = link_to state.titleize, purchases_path(:workflow_state => state), :class => "btn"

      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Beskrivning
            %th Köpt av
            %th Inköpt
            %th Status

        %tbody
          - for purchase in @purchases
            %tr
              %td= link_to ("%03d" % purchase.id), purchase
              %td= truncate purchase.description
              %td= link_to purchase.person, purchase.person, title: purchase.person.login
              %td= purchase.purchased_at.to_s(:iso)
              %td= status purchase

      = paginate @purchases
