= stylesheet_link_tag params[:controller], media: "all"

%header.alert-hero.alert-info
  .container-fluid
    .row-fluid
      .span12
        %h1= "#" + @purchase.id.to_s
        %p= status @purchase

.container-fluid
  = render :partial => 'info', :locals => {:purchase => @purchase}
  = render :partial => 'items', :locals => {:purchase => @purchase}
  = render :partial => 'history', :locals => {:purchase => @purchase}
