= form_tag budget_path, method: :put do
  %fieldset
    %legend= t('.title')

    %table#list.table.table-striped
      %thead
        %tr
          %th= t 'activerecord.attributes.budget_post.name'
          %th= t 'activerecord.models.business_unit'
          - if can?(:manage, :budget_posts)
            %td= t 'activerecord.attributes.budget_post.status'

      %tbody
        - @budget_rows.each do |row|
          %tr{ :class => cycle(:odd, :even) }
            %td= label_tag "budget_rows[#{row.id}][sum]", row.budget_post.name
            %td= row.budget_post.business_unit
            - if can?(:manage, :budget_posts)
              %td= text_field_tag "budget_rows[#{row.id}][sum]", row.sum

    .form-actions
      = submit_tag t('save_budget_changes'), class: 'btn btn-primary'
