
- if can?(:manage, :budget_posts)
  = button_to t('edit_budget'), edit_budget_path(id: @year), method: :get, id: 'edit_budget'

%header.row-fluid
  .span10.offset2
    %h1 #{t('.title')} #{@year} 

.row-fluid
  .span2
    = render_navigation(level: 2, renderer: BootstrapMenuList, bootstrap_menu_type: "nav-pills nav-stacked")
  .span10
    %table.table.table-striped
      %thead
        %tr
          %th= t 'activerecord.attributes.budget_post.name'
          %th= t 'activerecord.models.business_unit'
          %th= t 'activerecord.attributes.budget_post.status'
          - if can?(:manage, BudgetPost)
            %th.actions
      %tbody
        - @budget_rows.each do |row|
          %tr{ class: cycle(:odd, :even) }
            %td= row.budget_post.name
            %td= row.business_unit
            %td #{currency row.total} av #{currency row.sum}
            - if can?(:manage, BudgetPost)
              %td
                = link_to t('edit'), edit_budget_row_path(@year, row)
