%header.row-fluid
  .span10.offset2
    %h1 #{t('.title')} #{@year}

.row-fluid
  .span2
    = render_navigation(level: 2, renderer: BootstrapMenuList, bootstrap_menu_type: "nav-pills nav-stacked")
  .span10
    %table.table.table-striped
      %thead
        %tr
          %th= t 'activerecord.attributes.budget_post.name'
          %th= t 'activerecord.models.business_unit'
          %th= t 'activerecord.attributes.budget_post.budget'
          %th= t 'activerecord.attributes.budget_post.used'
          %th
      %tbody
        - @budget_rows.each do |row|
          %tr{ class: cycle(:odd, :even) }
            %td= link_to row.budget_post.name, row.budget_post
            %td= link_to row.business_unit, row.business_unit
            %td= number_to_currency row.sum
            %td= number_to_currency row.total
            %td
              %progress{ min: 0, max: row.sum, value: row.total, style: "vertical-align: middle"}

    .well
      = link_to edit_budget_path(@year), id: "edit_budget", class: 'btn btn-info' do
        %i.glyphicon.glyphicon-pencil
        Redigera budget
