%h2= t('.title')

%table.table.table-striped
  %thead
    %tr
      %th Namn
      %th Förkortning
      %th Aktiv
      %th.actions
  
  %tbody
    - for business_unit in @business_units
      %tr
        %td= link_to business_unit.name, business_unit_path(business_unit)
        %td= business_unit.short_name
        %td= business_unit.active_text
        %td
          = link_to edit_business_unit_path(business_unit), class: 'btn' do
            %i.icon-pencil
            = t('edit')
          = link_to business_unit, confirm: t('are_you_sure'), method: :delete, class: 'btn btn-danger' do
            %i.icon-trash
            = t('destroy')
