!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Cashflow
    %meta{:name => "viewport", :content => "initial-scale=1.0, width=device-width, maximum-scale=1.0"}
    / [if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    
    = stylesheet_link_tag 'less'
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'sticky'
    = stylesheet_link_tag 'jquery-ui.css'
    = render 'global/google_analytics'

  %body
    #root
      = render :partial => 'menus/session'
      = render :partial => 'menus/apps'
      - if notice
        = notice
      %header.main
        %h1= link_to "Cashflow", root_url
      %section.clearfix#content
        = content_for?(:content) ? yield(:content) : yield
    %footer.main
      = textilize(t('layouts.application.footer')).html_safe
