!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Cashflow
    %meta{:name => "viewport", :content => "initial-scale=1.0, width=device-width, maximum-scale=1.0"}
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.dataTables.js'
    / [if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    
    = javascript_include_tag 'rails'
    = stylesheet_link_tag 'less'
    - if is_mobile_device?
      = stylesheet_link_tag 'mobile'
    - else
      = stylesheet_link_tag 'screen'
      = stylesheet_link_tag 'sticky'
  %body
    #root
      = session_change_link
      = render :partial => 'menus/apps'
      %header.main
        %h1 Cashflow
        - if logged_in?
          %nav#main_menu.horizontal
            = render_navigation(:level => 1)
      %section.clearfix#content
        = yield(:content) or yield
    %footer.main
      :textile
        Kontakta "kassören":mailto:kassor@d.kth.se vid frågor. Skapad av "Martin Frost":http://www.d.kth.se/people/blame 2010. För att rapportera eventuella buggar, klicka "här":https://www.d.kth.se/redmine/projects/cashflow/issues/new.
