!!!
%html
  %head
    %title 
      Cashflow
      - if @page_title
        >= "-- #{@page_title}"
    = stylesheet_link_tag 'screen'
        
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.dataTables'

    = csrf_meta_tag
    
  %body.bp
    #root
      #header
        %nav#main_menu
          = render :partial => 'menus/main'
        %h1 Skulder & Inköp
      = yield(:content) or yield
      #root_footer
    #footer
      :textile
        Kontakta "kassören":mailto:kassor@d.kth.se vid frågor. Skapad av "Martin Frost":http://www.d.kth.se/people/blame 2010. För att rapportera eventuella buggar, klicka "här":https://www.d.kth.se/redmine/projects/cashflow/issues/new.
        
