!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Cashflow
    %meta{name: "viewport",
          content: "initial-scale=1.0, width=device-width"}

    = stylesheet_link_tag "application", media: "screen"
    = stylesheet_link_tag "print", media: "print"
    = javascript_include_tag "application"

    = csrf_meta_tags

    = render "global/google_analytics"

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top#main-navigation
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ data: { target: "#navbar", toggle: "collapse"}, type: "button", "aria-controls" => "navbar", "aria-expanded" => "false"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.navbar-brand{ href: root_url } Cashflow

        #navbar.navbar-collapse.collapse
          = render_navigation(:level => 1..2, renderer: BootstrapMenuList, expand_all: true)


    - flash.each do |key, message|
      .container
        .alert
          = link_to "x", "#", class: "close", data: { dismiss: "alert" }
          = message

    .container
      = content_for?(:content) ? yield(:content) : yield

    %footer.container
      .row-fluid
        .span12
          = textilize(t("layouts.application.footer")).html_safe
