!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Cashflow
    %meta{:name => "viewport", :content => "initial-scale=1.0, width=device-width, maximum-scale=1.0"}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'bootstrap.js'
    / [if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    
    = javascript_include_tag 'rails'

    = stylesheet_link_tag 'bootstrap.css'
    = stylesheet_link_tag 'screen.css'

    = render 'global/google_analytics'

  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %a.btn.btn-navbar{ data: { toggle: "collapse", target: ".nav-collapse" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.brand{ href: root_url } Cashflow

          .nav-collapse
            = render_navigation(:level => 1..2, renderer: BootstrapMenuList, expand_all: true)

    - if notice
      = notice

    %div.container-fluid
      = content_for?(:content) ? yield(:content) : yield

    %footer.container-fluid
      .row-fluid
        .span12
          = textilize(t('layouts.application.footer')).html_safe
