!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Cashflow
    %meta{:name => "viewport", :content => "initial-scale=1.0, width=device-width, maximum-scale=1.0"}
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'jquery-ui.min.js'
    = javascript_include_tag 'jquery.dataTables.js'
    = javascript_include_tag 'cocoon.js'
    / [if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
    
    = javascript_include_tag 'rails'
    = stylesheet_link_tag 'less'
    - if is_mobile_device?
      = stylesheet_link_tag 'mobile'
    - else
      = stylesheet_link_tag 'screen'
      = stylesheet_link_tag 'sticky'
      = stylesheet_link_tag 'jquery-ui.css'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{Cashflow::Application.settings[:google_analytics]}"]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #root
      = render :partial => 'menus/session'
      = render :partial => 'menus/apps'
      - if notice
        = notice
      %header.main
        %h1= link_to "Cashflow", root_url
        - if user_signed_in?
          %nav#main_menu.horizontal
            = render_navigation(:level => 1)
      %section.clearfix#content
        %nav#sub_menu.horizontal
          - if @items
            = render_navigation(:items => @items)
          - else
            = render_navigation(:level => 2)
        = content_for?(:content) ? yield(:content) : yield
    %footer.main
      = textilize(t('layouts.application.footer')).html_safe
